<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bgStyle.css">
    <!-- we also need jQuery for the bootsrapt js script to work -->
    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/bootstrap.min.js" defer></script>
</head>

<body>
    <div class="container my-3 p-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><%= farm.name %> </h2>
                <h3>Add a product</h3>
                <form action="/farms/<%= farm.id %>/products" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Product name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Product name">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Poduct price</label>
                        <input type="number" name="price" id="price" class="form-control" placeholder="Price">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Select category</label>
                        <select name="category" id="category" class="form-select">
                            <% for (let category of categories) { %>
                                <option value="<%= category %>"><%= category %></option>
                            <% } %>
                        </select>
                    </div>
                    <button class="btn btn-outline-success m-2">Add product</button>
                    <a href="/products"><button type="button" class="btn btn-outline-primary m-2">All products</button></a>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>